/* Estilo global */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e2c153;
  color: #000000;
}

/* Header */
header {
  background: linear-gradient(90deg, #e6c648, #000000);
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(14, 121, 209, 0.897);
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

header nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s;
}

header nav a:hover {
  color: #ffeb3b;
}

/* Títulos principales */
main h1,
main h2 {
  text-align: center;
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
}

/* Cartas */
.card-container {
  display: flex;
  flex-wrap: nowrap; /* Asegura que las cartas estén en fila */
  gap: 20px;
  padding: 20px;
  overflow-x: auto; /* Permite desplazamiento horizontal */
}

.card {
  flex: 0 0 200px; /* Mantiene el tamaño de cada carta */
}


/* Botón */
button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #ff4444;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #2345dd;
}

/* Footer */
footer {
  background: #ff0000;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

